/* JobCenter.css */

.job-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: cornflowerblue;
  }
  
  .job-center-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dashboard-container {
    display: flex;
    width: 100%; /* Ensure it takes up the full width */
  }
  
  .dashboard-timeseries {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .dashboard-wordcount {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Additional styling for iframes, adjust as needed */
  iframe {
    width: 100%;
    height: 400px; /* Set the desired height */
    border: none;
  }

.job-center-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.job-center-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.job-center-button:hover {
    background-color: #f8d7da;
    color: #721c24;
}

@media (max-width: 600px) {
    .job-center-buttons {
        flex-direction: column;
    }

    .job-center-button {
        margin-bottom: 10px;
    }
}
